---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Ulaş";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Ulas</h1>
    <p>This is just an example page</p>
  </div>
</BaseLayout>
